# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
.vscode/

# JSON data
money.json

# SQLite
*.db
*.db-wal
*.db-shm
*.db-journal

# 초기 배포용 DB는 Git 관리
!resources/wedding.db

# Build
build/
dist/
# *.spec

# Excel output
*.xlsx

# Temporary files
*.tmp
*.bak