# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
.vscode/

# json
money.json

# SQLite
*.db
*.db-wal
*.db-shm
*.db-journal

# 초기 배포용 DB는 Git 관리
!resources/wedding.db

# etc
build/
dist/
# *.spec